<!DOCTYPE HTML>
 
<html>
<head>
      <title>Game</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script src="/angular/angular.min.js"></script>
      <script src="/js/GameController.js"></script>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
       
</head>

<body>
<div class="container" ng-app="Game">
	<div ng-controller="GameController">
        <form name="GameForm" ng-submit="submitForm()">
            <label>Game</label> <br></br>
            <p>Game Name: <input type="text" name="GameName" class="form-control" ng-model="GameName"/> </p>
   			
         <p>Category :
         <button ng-click="getcategory()" ng-click="getcourse()"  class="btn btn-primary">Get Categories</button>    
        <select class="form-control" ng-model="Category">
            <option ng-repeat="categories in response">{{categories.categoryName}}</option>
        </select></p> 
        
         <p>Course : 
         <button ng-click="getcourse()" class="btn btn-primary">Get Courses</button> 
        <select   class="form-control" ng-model="Course">
            <option ng-repeat="courses in response">{{courses.courseName}}</option>
        </select></p> 
    
        
        <p>Type of game :
        <button ng-click="gettype()" class="btn btn-primary">Get Types</button>
        <select     class="form-control" ng-model="Type">
            <option ng-repeat="types in response">{{types.typeName}}</option>
        </select></p> 
        
        
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p>{{postResultMessage}}</p>
    </div>
	

    
     
</div>
</body>
</html>