<!DOCTYPE HTML>
 
<html>
<head>
      <title>Games</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script src="/angular/angular.min.js"></script>
      <script src="/js/GameInCourse.js"></script>
      <script src="/Extend js/jquery-1.9.1.min.js"></script>
      <script src="/Extend js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
      <script src="/Extend js/scrolling-nav.js"></script>
      <!-- Bootstrap Core CSS -->
      
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
      
       
    <!-- Custom CSS -->
	<link rel="stylesheet" href="/Extend css/main.css"/>
    <link href="/Extend css/custom.css" rel="stylesheet"/>
	
	<script src="//use.edgefonts.net/bebas-neue.js"></script>

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="/Extend css/icomoon-social.css"/>
	<link rel="stylesheet" href="/Extend css/font-awesome.min.css"/>
	
 
</head>
<body>
 
<div class="container" ng-app="GameInCourse">
 
    <div ng-controller="GameInCourseController">
      
        	 		<div ng-repeat="Game in Games"  class="col-sm-4">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2>{{Game.gameName}}</h2>
							</div>

							
							
							<div class="single-post-content">
								<p>
									{{Game.description}}
								</p>
							<a ng-click = "playGame(Game)" class="btn">Play Now</a>
							</div>
						</div>
					</div>
         
    </div>
     
</div>
</body>
</html>