<!DOCTYPE html>
<html >
<head>

<title>Game For All</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="/angular/angular.min.js"></script>
<script src="/js/LoginController.js"></script>
<script src="/Extend js/jquery-1.9.1.min.js"></script>
<script src="/Extend js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="/Extend js/scrolling-nav.js"></script>
<!-- Bootstrap Core CSS -->

<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<link href="/Extend css/bootstrap.css" rel="stylesheet" />

<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" href="/Extend css/login.css"/>

</head>

<body>
	<div class="container" ng-app="Login">
		<div ng-controller="LoginController">
	<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><img
							src="img/logo.png" alt="Basica" /></a>
					</div>
				</div>
				
			</header>
<br/><br/>
  <div class="form">
      <ul class="tab-group">
        <li class="tab active"><a href="/">Log In</a></li>
        <li class="tab "><a href="/signup">Sign Up</a></li>
      </ul>
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form ng-submit="Login()">
            <div class="field-wrap" >
            <input type="text"  required="true" ng-model="username" placeholder="User Name*"  autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <input type="password" required="true" ng-model="password" placeholder="Password*" autocomplete="off"/>
          </div>
          
          <p class="forgot">{{postResultMessage}}</p>
          
          <button class="button button-block">Log In</button>
          
          </form>

        </div>
        
      	</div>
      </div>
</div> 
</body>
</html>
