<!DOCTYPE html>
<html >
<head>

<title>Game For All</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="/angular/angular.min.js"></script>
<script src="/js/RegisterController.js"></script>
<script src="/Extend js/jquery-1.9.1.min.js"></script>
<script src="/Extend js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="/Extend js/scrolling-nav.js"></script>

<!-- Bootstrap Core CSS -->

<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<link href="/Extend css/bootstrap.css" rel="stylesheet" />

<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css' />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" href="/Extend css/login.css"/>

</head>

<body>
	<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><img
							src="img/logo.png" alt="Basica" /></a>
					</div>
				</div>
				
			</header>
<br/><br/>
<div class="container" ng-app="Register">
<div ng-controller="RegisterController">
  <div class="form" ng-submit="register()">
      
      <ul class="tab-group">
      <li class="tab"><a href="/">Log In</a></li>
        <li class="tab active"><a href="/signup">Sign Up</a></li>
      </ul>
      
        <div >   
          <h1>Sign Up for Free</h1>
          
          <form >
       		
          <div class="top-row">
            <div class="field-wrap" >
              <input type="text" ng-model="firstName" placeholder="First Name*" pattern="[a-zA-Z0-9]{3,20}"  required="true" autocomplete="off" />
            </div>
            
        
            <div class="field-wrap" >
              <input type="text" ng-model="lastName" placeholder="Last Name" autocomplete="off"/>
            </div>
          </div>

			<div class="field-wrap" >
            <input type="text" pattern="[a-zA-Z0-9]{3,20}" ng-model="username" placeholder="User Name*" required="true" autocomplete="off"/>
          </div>
          
          <div class="field-wrap" >
            <label>
              {{PasswordLabel}}<span class="req">{{PasswordLabelA}}</span>
            </label>
            <input type="password" ng-model="password" pattern="[a-zA-Z0-9]{6,20}" placeholder="Password*" required="true" autocomplete="off"/>
          </div>
          
          <div class="field-wrap" >
            <label>
              {{EmailLabel}}<span class="req">{{EmailLabelA}}</span>
            </label>
            <input type="email" ng-model="email" placeholder="Email*" required="true" autocomplete="off"/>
          </div>
          
         <ul class="tab-group">
      <li class="tab active" id="male"><a ng-model="gender" ng-click="GenderClass('male');SetGender('M')" >Male</a></li>
        <li class="tab" id="female"><a ng-model="gender" value="F" ng-click="GenderClass('female');SetGender('F')" >Female</a></li>
      </ul>
      
     
    
          <div class="field-wrap" >
          <label>
              {{AgeLabel}}<span class="req">{{AgeLabelA}}</span>
            </label>
        <input type="number" name="age"  required="true" placeholder="Age*" ng-model="age" min="5"/>
        </div>
        
          <ul class="tab-group" required="true">
      <li class="tab active" id="student" ><a ng-model="user"  ng-click="UserClass('student');SetUser('Student')" >Student</a></li>
        <li class="tab" id="teacher"><a ng-model="user"  ng-click="UserClass('teacher');SetUser('Teacher')">Teacher</a></li>
      </ul>
          	<p class="forgot">{{postResultMessage}}</p>
            <button type="submit" class="button button-block">Get Started</button>
          
          
          </form>

        </div>
        
        
      
     </div> 
     </div>  
</div> 
</body>
</html>
