<!DOCTYPE HTML>
 
<html>
<head>
      <title>Game</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script src="/angular/angular.min.js"></script>
      <script src="/js/GameController.js"></script>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
       
</head>

<body>
<div class="container" >
	<div >
        <form name="GameForm" >
            <label>True-False Template</label> <br></br>
            
        </form>
        <p>{{postResultMessage}}</p>
    </div>
	

    
     
</div>
</body>
</html>